<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Springboot Blog :: Post</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>

<div class="container">
  <h1 id="logo">Springboot Blog</h1><br>
  <section id="login">
    <script id="template-login-github" type="text/template">
      <a id="login-github-box" class="btn btn-primary" role="button">GitHub Login</a>
    </script>

    <script id="template-user-information" type="text/template">
      <a id="user-name">ID : {userName}</a>
    </script>

    <script id="template-logout-withdraw" type="text/template">
      <a id="logout-box" class="btn btn-warning" role="button">Logout</a>
      <a id="withdraw-box" class="btn btn-danger" role="button">회원탈퇴</a>
    </script>
  </section>
  <br>
  <br>
  <div class="col-md-12">
    <h2 id="post-title"></h2>
    <hr>
    <div class="text-right">
      <p id="author-name">작성자 :&nbsp;</p>
      <p id="view-counts">조회수 :&nbsp;</p>
      <p id="created-date">작성일 :&nbsp;</p>
      <p id="modified-date">수정일 :&nbsp;</p>
    </div>
    <hr>
    <br>
    <p id="content"></p>
    <script id="template-image" type="text/template">
      <img src="{url}" class="img-responsive" width="500" height="500" alt="img"/>
    </script>
  </div>

  <hr>
  <br>

  <ul id="comment-board" class="list-group-horizontal-md">
    <script id="template-comment-row-template" type="text/template">
      <li id="{comment-id}" class="media mt-4">
        <!--      <img src="추후 작성자 사진 넣기" class="mr-3" alt="avata">-->
        <div class="media-body">
          <h5 class="mt-0 mb-1">{author}
            <small>
              {created}
            </small>
            <small class="comment-reply-btn-hidden" style="visibility: hidden">
              <a href="#" class="comment-reply-btn" data-toggle="collapse"
                 data-target=".multi-collapse-reply-{comment-id}">답글 쓰기</a>
            </small>
            <small id="comment-edit-btn-{comment-id}" class="comment-edit-btn-hidden"
                   style="visibility: hidden">
              <a href="#" class="comment-edit-btn" data-toggle="collapse"
                 data-target=".multi-collapse-edit-{comment-id}">수정</a>
            </small>
            <small id="comment-delete-btn-{comment-id}" class="comment-delete-btn-hidden"
                   style="visibility: hidden">
              <a href="#" id="comment-delete-btn-submit" class="comment-delete-btn">삭제</a>
            </small>
          </h5>
          <p class="collapse multi-collapse-{comment-id} show">{content}</p>
          <form class="collapse multi-collapse-reply-{comment-id}">
            <div class="form-group">
              <textarea class="form-control" id="comment-reply-content" rows="3"></textarea>
            </div>
            <input type="hidden" id="comment-reply-id" value="{comment-id}">
            <input type="hidden" id="comment-reply-author" value="{author}">
            <input class="btn btn-info comment-clear-btn" type="reset" role="button" value="취소">
            <button type="button" class="btn btn-info comment-reply-btn-submit">등록</button>
          </form>
          <form class="collapse multi-collapse-edit-{comment-id}">
            <div class="form-group">
              <textarea class="form-control" id="comment-edit-content" rows="3">{content}</textarea>
            </div>
            <input type="hidden" id="comment-edit-id" value="{comment-id}">
            <input type="hidden" id="comment-edit-author" value="{author}">
            <input class="btn btn-info comment-clear-btn" type="reset" role="button" value="취소">
            <button type="button" class="btn btn-info comment-edit-btn-submit">수정</button>
          </form>
        </div>
      </li>
    </script>
  </ul>

  <ul id="page-navigator" class="pagination justify-content-center">
    <script id="template-prev-button" type="text/template">
      <li class="page-item"><a id="prev" class="page-link">Prev</a></li>
    </script>

    <script id="template-page-button" type="text/template">
      <li class="page-item"><a id="page-button-{index}" class="page-link">{index}</a></li>
    </script>

    <script id="template-next-button" type="text/template">
      <li class="page-item"><a id="next" class="page-link">Next</a></li>
    </script>
  </ul>
  <section id="comment-form">
    <script id="template-comment-form" type="text/template">
      <div class="col-md-12">
        <form id="form">
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" id="comment" name="content" placeholder="내용을 입력하세요."
                      required style="height: 100px;"></textarea>
          </div>
          <input class="btn btn-secondary" type="reset" role="button" value="Clear">
          <a id="submit-button" class="btn btn-primary">Submit</a>
        </form>
      </div>
    </script>
  </section>

  <br>
  <section id="button-section">
    <a class="btn btn-secondary" href="/" role="button">Back</a>
    <script id="template-post-write-button" type="text/template">
      <a class="btn btn-primary" href="/page/post/write" role="button">Write</a>
    </script>
    <script id="template-post-edit-button" type="text/template">
      <a id="edit-submit-btn" class="btn btn-warning">Edit</a>
    </script>
    <script id="template-post-delete-button" type="text/template">
      <a id="delete-submit-btn" class="btn btn-danger" href="#" role="button">Delete</a>
    </script>
  </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="/js/post.js"></script>
</html>
